
<header class="header shop">
  <!-- Topbar -->
  <div class="topbar">
      <div class="container">
          <div class="row">
              <div class="col-lg-5 col-md-12 col-12">
                  <!-- Top Left -->
                  <div class="top-left">
                      <ul class="list-main">
                          <li ><a href="/dashboard" style="color: #fd7e14;font-weight: bold;font-size: 20px;">Home</a></li>
                          <li><i class="ti-email"></i> support@Eshop.com</li>
                      </ul>
                  </div>
                  <!--/ End Top Left -->
              </div>
              <div class="col-lg-7 col-md-12 col-12">
                  <!-- Top Right -->
                  <div class="right-content">
                      <ul class="list-main">
                          <li><i class="ti-location-pin"></i> Store location</li>
                          <li><i class="ti-alarm-clock"></i> <a href="#">Daily deal</a></li>
                          <li><i class="ti-user"></i> <a href="#">My account</a></li>
                          <li><i class="ti-power-off"></i><button style="background-color: #fff;border: none;" (click)="logout()">Logout</button></li>
                      </ul>
                  </div>
                  <!-- End Top Right -->
              </div>
          </div>
      </div>
  </div>
  <!-- End Topbar -->
</header>
<!--Section: Block Content-->
<section>

    <!-- Grid row -->
    <div class="row" >

      <div class="col-md-4 mb-5" *ngFor="let product of wishListProductList">
  
        <!-- Card -->
        <div class="" >
  
          <div class="view zoom overlay z-depth-2 rounded" >
            <img class="img-fluid w-100"
              src="../../assets/images/{{product.ProductImage}}" alt="Sample" style="background-color: bisque;">
            <!-- <h4 class="mb-0"><span class="badge badge-primary badge-pill badge-news">Sale</span></h4> -->
            <!-- <a href="#!">
              <div class="mask">
                <img class="img-fluid w-100"
                  src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14.jpg">
                <div class="mask rgba-black-slight"></div>
              </div>
            </a> -->
          </div>
  
          <div class="text-center pt-4">
  
            <h5>{{product.ProductName}}</h5>
            <p class="mb-2 text-muted text-uppercase small">{{product.ProductName}}</p>
            <ul class="rating">
              <li>
                <i class="fas fa-star fa-sm text-primary"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-primary"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-primary"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-primary"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-primary"></i>
              </li>
            </ul>
            <hr>
            <h6 class="mb-3">
              <span class="text-danger mr-1">${{product.ProductPrice}}</span>
              <span class="text-grey"><s>${{product.ProductPrice-(product.ProductQuantity * (product.ProductDiscount/100))}}</s></span>
            </h6>
            <button type="button" class="btn btn-primary btn-sm mr-1 mb-2"><i
                class="fas fa-shopping-cart pr-2"></i>Add to cart</button>
            <button type="button" class="btn btn-light btn-sm mr-1 mb-2"><i
                class="fas fa-info-circle pr-2"></i>Details</button>
            <button type="button" class="btn btn-elegant btn-sm px-3 mb-2 material-tooltip-main"
              data-toggle="tooltip" data-placement="top" title="Remove from wishlist"><i
                class="fas fa-times"></i></button>
  
          </div>
  
        </div>
        <!-- Card -->
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
  </section>
  <!--Section: Block Content-->